body {
	background-color: #222;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
	font-family: 'Roboto Mono', monospace;
}

.navbar-post img {
	height: 100px;
}

nav {
	font-family: 'Roboto Mono', monospace;
}

.btn-home-bg {
	font-family: 'Roboto Mono', monospace;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

#contact {
	background-color: #111;
}

#contact a,
#contact p,
#contact h4 {
	color: #fff;
}

.logo-mobile {
	display: none !important;
}

@media only screen and (max-width: 991px) {
	.logo-mobile {
		display: block !important;
	}

	.logo-main {
		display: none !important;
	}
}

.post-hero {
	padding: 10em 0;
}

.post-title {
	color: white;
	text-transform: uppercase;
	font-size: 3em;
	letter-spacing: 0.1em;
}

p {
	color: #fff;
	line-height: 2em;
	font-size: 0.8em;
}

.post-software {
	width: 30px;
	margin-right: 4px;
	margin-bottom: 0.7em;
}

.disclaimer {
	font-size: 0.6em;
}

@media only screen and (max-width: 767px) {
	.disclaimer {
		text-align: center;
	}
}

.post-map {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}

.hidden {
	visibility: hidden;
}

.lightbox {
	background-color: #111;
	padding: 2em;
}

.post-hero-text {
	padding: 200px 0;
}

.post-hero-text h2 {
	color: #fff;
	font-size: 50px;
	font-weight: 800;
	letter-spacing: 8px;
	line-height: 70px;
	text-transform: uppercase;
}

.post-hero-text p {
	color: #fff;
	margin: auto auto 15px;
	width: 60%;
}

.service-container {
	background-color: #333;
	text-align: center;
	vertical-align: middle;
	padding: 5em 1em;
	font-family: 'Roboto Mono', monospace;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #fff;
	margin-bottom: 2em;
	transition: 0.4s;
}

.services-padding {
    padding-bottom: 60px;
}

.service-container:hover {
	background-color: #00b2a9;
	letter-spacing: 0.2em;
}

.fancybox-content {
	padding: 0px;
	background-color: inherit;
}

.contact_area {
	padding-bottom: 1em;
}

.btn-view-reel {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 2px solid #e8e8e8;
	border-radius: 100px;
	color: #fff !important;
	display: inline-block;
	font-size: 13px;
	margin-top: 15px;
	overflow: hidden;
	padding: 8px 25px;
	text-transform: uppercase;
	transition: all 0.4s ease 0s;
	margin-bottom: 1.5em;
}

.btn-view-reel:hover {
	background-color: #00b2a9;
	color: #fff;
	border: 2px solid #00b2a9;
}

.team-name {
	font-family: 'Roboto Mono', monospace;
	color: #fff;
}

.about-text h2 {
	color: #fff;
	font-size: 60px;
	font-weight: 400;
	letter-spacing: 2px;
	line-height: 70px;
	text-transform: uppercase;
}

.section-title h2 {
	font-weight: 800;
	font-size: 30px;
	letter-spacing: 0.25em;
}

.slick-slide:focus {
	outline: none;
}

.modal-title {
	color: white;
	text-transform: uppercase;
	font-size: 3em;
	letter-spacing: 0.1em;
	font-weight: 600;
}

.modal-subtitle {
	color: white;
	font-size: 1em;
	letter-spacing: 0.1em;
	font-weight: 600;
	margin: 0 0 1em 0;
}