/*=============================================================
    CSS INDEX
    =============================
    01. GENERAL STYLE (body, link color, section-title, preloader btn, overlay, section-padding etc)
    02. BOOTSTRAP NAVIGATION OVERRIDES
    03. START HOME DESIGN
    04. START ABOUT DESIGN
    05. START TEAM DESIGN
    06. START SERVICE DESIGN
    07. START PORTFOLIO DESIGN
    08. START TESTIMONIAL DESIGN
    09. START PRICING DESIGN
    10. START BLOG DESIGN
    11. START COMPANY PARTNER DESIGN
    12. START CONTACT DESIGN
    13. START FOOTER DESIGN
  =============================================================*/

/*
* ----------------------------------------------------------------------------------------
* 01.GENERAL STYLE
* ----------------------------------------------------------------------------------------
*/

::selection {
    background: rgba(0, 178, 169, 0.6);
  }
  
  ::-moz-selection {
    background: rgba(0, 178, 169, 0.6);
  }
  
  body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #777;
    overflow-x: hidden;
    margin: auto;
    background: #fff;
  }
  
  html,body {
    height: 100%;
  }
  
  /*START PRELOADER DESIGN*/
  
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  /*END PRELOADER DESIGN*/
  
  /*START SECTION TITLE DESIGN*/
  
  /*END SECTION TITLE DESIGN*/
  
  /*
  * ----------------------------------------------------------------------------------------
  * 01.END GENERAL STYLE
  * ----------------------------------------------------------------------------------------
  */
  
  /*
  * ----------------------------------------------------------------------------------------
  * 02. START BOOTSTRAP NAVIGATION OVERRIDES
  * ----------------------------------------------------------------------------------------
  */
  
  /*
  * ----------------------------------------------------------------------------------------
  * 02.END BOOTSTRAP NAVIGATION OVERRIDES
  * ----------------------------------------------------------------------------------------
  */
  
  /*
  * ----------------------------------------------------------------------------------------
  * 03.START HOME DESIGN
  * ----------------------------------------------------------------------------------------
  */
  
  /*START VIDEO BG*/
  
  /*END VIDEO BG*/
  
  /*
  * ----------------------------------------------------------------------------------------
  * 03.END HOME DESIGN
  * ----------------------------------------------------------------------------------------
  */
  
  /*
   * ----------------------------------------------------------------------------------------
   * 04.START ABOUT US DESIGN
   * ----------------------------------------------------------------------------------------
   */
  
  /*
  #about {
      background-color: salmon;
  }
  */
  
  /*
   * ----------------------------------------------------------------------------------------
   * 04.END ABOUT US DESIGN
   * ----------------------------------------------------------------------------------------
   */
  
  /*
  * ----------------------------------------------------------------------------------------
  * 05.START TEAM DESIGN
  * ----------------------------------------------------------------------------------------
  */
  
  /*
  * ----------------------------------------------------------------------------------------
  * 05.END TEAM DESIGN
  * ----------------------------------------------------------------------------------------
  */
  
  /*
  * ----------------------------------------------------------------------------------------
  * 06.START SERVICE DESIGN
  * ----------------------------------------------------------------------------------------
  */
  
  /*
  * ----------------------------------------------------------------------------------------
  * 06.END SERVICE DESIGN
  * ----------------------------------------------------------------------------------------
  */
  
  /*
   * ----------------------------------------------------------------------------------------
   * 07.START PORTFOLIO DESIGN
   * ----------------------------------------------------------------------------------------
   */
  
  /*
   * ----------------------------------------------------------------------------------------
   * 07.END PORTFOLIO DESIGN
   * ----------------------------------------------------------------------------------------
   */
  
  /*
  * ----------------------------------------------------------------------------------------
  * 10.START BLOG DESIGN
  * ----------------------------------------------------------------------------------------
  */
  
  /*END HOME BLOG*/
  
  /*
  * ----------------------------------------------------------------------------------------
  * 10.END BLOG DESIGN
  * ----------------------------------------------------------------------------------------
  */
  
  /*
  * ----------------------------------------------------------------------------------------
  * 11.START COMPANY PARTNER LOGO
  * ----------------------------------------------------------------------------------------
  */
  
  /*
  * ----------------------------------------------------------------------------------------
  * 11.END COMPANY PARTNER LOGO
  * ----------------------------------------------------------------------------------------
  */
  
  /*
  * ----------------------------------------------------------------------------------------
  * 12.START ADDRESS & CONTACT FORM DESIGN
  * ----------------------------------------------------------------------------------------
  */
  
  /*START CONTACT ADDRESS*/
  
  /*
  * ----------------------------------------------------------------------------------------
  * 12.END ADDRESS & CONTACT FORM DESIGN
  * ----------------------------------------------------------------------------------------
  */
  
  /*
  * ----------------------------------------------------------------------------------------
  * 13.START FOOTER DESIGN
  * ----------------------------------------------------------------------------------------
  */
  
  /*END FOOTER SOCIAL DESIGN*/
  
  /*
  * ----------------------------------------------------------------------------------------
  * 13.END FOOTER DESIGN
  * ----------------------------------------------------------------------------------------
  */
  
  /*
  * ----------------------------------------------------------------------------------------
  * 14.START TEAM BIOS
  * ----------------------------------------------------------------------------------------
  */
  
  @-webkit-keyframes zoomInMod {
    0% {
      opacity: 0;
      -webkit-transform: scale(.3);
      transform: scale(.3);
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes zoomInMod {
    0% {
      opacity: 0;
      -webkit-transform: scale(.3);
      -ms-transform: scale(.3);
      transform: scale(.3);
    }
  
    100% {
      opacity: 1;
    }
  }
  
  /*
  
  * ----------------------------------------------------------------------------------------
  * 14.END TEAM BIOS
  * ----------------------------------------------------------------------------------------
  */
  
  /*
  
  * ----------------------------------------------------------------------------------------
  * 15.START SERVICES
  * ----------------------------------------------------------------------------------------
  */
  
  /*
  
  * ----------------------------------------------------------------------------------------
  * 15.END SERVICES
  * ----------------------------------------------------------------------------------------
  */
  
  /*
  * ----------------------------------------------------------------------------------------
  * 16.START BLOG POSTS
  * ----------------------------------------------------------------------------------------
  */
  
  /*
  * ----------------------------------------------------------------------------------------
  * 16.END BLOG POSTS
  * ----------------------------------------------------------------------------------------
  */
  
  /*
  * ----------------------------------------------------------------------------------------
  * 17.START ERROR MESSAGES
  * ----------------------------------------------------------------------------------------
  */
  
  /*
  * ----------------------------------------------------------------------------------------
  * 17.END ERROR MESSAGES
  * ----------------------------------------------------------------------------------------
  */